
.box{
    width: 700px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.h1{
    color: rgb(255, 15, 135);
}
.nut{
    background-color: pink;
    color: white;
    border: none;
    width: 50px;
    height: 30px;
}
.nut1{
    background-color: pink;
    color: white;
    border: none;
    width: 50px;
    height: 30px;
}